@layout MainLayout

@* <History Author = 'Ammaar Naveed' Date='2024-04-15' Version="1.0" Branch="master"> Added dialog for ensurity of shared permissions while creating a group.</History> *@

<div class="container pb-2" style="padding-left: 0px !important; padding-right: 0px !important; margin-left: -12px;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <p>@translationState.Translate("Shared_Permissions_Tab")</p>

        <!-- Buttons Section -->
        <div class="popup-buttons-alignment px-0">
            <RadzenButton Text="@translationState.Translate("OK")"
                          ButtonStyle="ButtonStyle.Primary"
                          Click="@CancelChanges"/>
        </div>

    </div>
</div>

<style>
    .rz-label {
        width: -webkit-fill-available;
    }

    .rz-textbox {
        width: -webkit-fill-available;
    }

    .rz-dialog-wrapper {
        background: linear-gradient(0deg, rgba(48, 49, 51, 0.7), rgba(48, 49, 51, 0.7)), url("../images/login_banner_g2g_admin.jpg") no-repeat !important;
    }
</style>
