@page "/forgot-password"
<div class="container pt-2 pb-2" style="padding-left: 0px !important; padding-right: 0px !important; margin-left: -12px;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">  

        @if (Thread.CurrentThread.CurrentUICulture.Name == "en-US")
        {
            <p style="text-align: left;">If you have forgotten your password please contact your administrator.</p>
                <hr />
            <p style="text-align: right;">إذا كنت قد نسيت كلمة المرور الخاصة بك ، فيرجى التواصل مع مسؤول النظام</p>
        }
        else{
            <p style="text-align: left !important;">If you have forgotten your password please contact your administrator</p>
            <hr />
            <p style="text-align: right;">إذا كنت قد نسيت كلمة المرور الخاصة بك ، فيرجى التواصل مع مسؤول النظام</p>
        }

        <!-- Buttons Section -->
        <div class="popup-buttons-alignment px-0">
            <RadzenButton Text="@translationState.Translate("OK")"
                          ButtonStyle="ButtonStyle.Primary"
                          Click="@CancelChanges">
            </RadzenButton>
        </div>

    </div>
</div>

<style>
    .rz-label {
        width: -webkit-fill-available;
    }

    .rz-textbox {
        width: -webkit-fill-available;
    }

    .rz-dialog-wrapper {
        filter: drop-shadow(2px 4px 6px black);
    }
</style>
