<!-- start header -->
<div class="page-header navbar navbar-fixed-top">
	<div class="page-header-inner ">
		<!-- logo start -->
		<div class="page-logo">
			<a href="index.html">
				<img alt="" src="/spiceTheme/assets/img/logo.png">
				<span class="logo-default">فتوى ويب</span> </a>
		</div>
		<!-- logo end -->
		<ul class="nav navbar-nav navbar-left in">
			<li><a href="javascript:;"class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
		</ul>
		<form class="search-form-opened" action="#" method="GET">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="بحث..." name="query">
				<span class="input-group-btn search-btn">
					<a href="javascript:;" class="btn submit">
						<i class="icon-magnifier"></i>
					</a>
				</span>
			</div>
		</form>
		<!-- start mobile menu -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
			data-target=".navbar-collapse">
			<span></span>
		</a>
		<!-- end mobile menu -->
		<!-- start header menu -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<!-- start notification dropdown -->
				<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
						data-close-others="true">
						<i class="fa fa-bell-o"></i>
						<span class="badge headerBadgeColor1"> 6 </span>
					</a>
					<ul class="dropdown-menu animated swing">
						<li class="external">
							<h3><span class="bold">Notifications</span></h3>
							<span class="notification-label purple-bgcolor">جديد 6</span>
						</li>
						<li>
							<ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
								<li>
									<a href="javascript:;">
										<span class="time">الآن</span>
										<span class="details">
											<span class="notification-icon circle deepPink-bgcolor"><i
													class="fa fa-check"></i></span> تهانينا!. </span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span class="time">3 دقائق</span>
										<span class="details">
											<span class="notification-icon circle purple-bgcolor"><i
													class="fa fa-user o"></i></span>
											<b>جون ميكلي </b>هو الآن يتبعك. </span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span class="time">7 دقائق</span>
										<span class="details">
											<span class="notification-icon circle blue-bgcolor"><i
													class="fa fa-comments-o"></i></span>
											<b>الصداقة جوجي </b>أرسلت لك رسالة. </span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span class="time">12 دقائق</span>
										<span class="details">
											<span class="notification-icon circle pink"><i
													class="fa fa-heart"></i></span>
											<b>رافي باتيل </b>مثل صورتك. </span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span class="time">15 دقائق</span>
										<span class="details">
											<span class="notification-icon circle yellow"><i
													class="fa fa-warning"></i></span> تحذير! </span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span class="time">10 ساعة</span>
										<span class="details">
											<span class="notification-icon circle red"><i
													class="fa fa-times"></i></span> خطأ في تطبيق. </span>
									</a>
								</li>
							</ul>
							<div class="dropdown-menu-footer">
								<a href="javascript:void(0)"> كل الإخطارات </a>
							</div>
						</li>
					</ul>
				</li>
				<!-- end notification dropdown -->
				<!-- start message dropdown -->
				<li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
						data-close-others="true">
						<i class="fa fa-envelope-o"></i>
						<span class="badge headerBadgeColor2"> 2 </span>
					</a>
					<ul class="dropdown-menu animated slideInDown">
						<li class="external">
							<h3><span class="bold">رسائل</span></h3>
							<span class="notification-label cyan-bgcolor">جديد 2</span>
						</li>
						<li>
							<ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
								<li>
									<a href="#">
										<span class="photo">
											<img src="/spiceTheme/assets/img/user/user2.jpg" class="img-circle" alt="">
										</span>
										<span class="subject">
											<span class="from"> سارة سميث </span>
											<span class="time">الآن </span>
										</span>
										<span class="message"> جاتين وجدتك على لينكد إن ... </span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="photo">
											<img src="/spiceTheme/assets/img/user/user3.jpg" class="img-circle" alt="">
										</span>
										<span class="subject">
											<span class="from"> جون ديو </span>
											<span class="time">16 دقيقة </span>
										</span>
										<span class="message"> إعادة توجيه: إشعار هام بخصوص اسم المجال الخاص بك ... </span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="photo">
											<img src="/spiceTheme/assets/img/user/user1.jpg" class="img-circle" alt="">
										</span>
										<span class="subject">
											<span class="from"> راجيش </span>
											<span class="time">2 ساعة </span>
										</span>
										<span class="message"> الرجاء أخذ نسخة من المرفقات. </span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="photo">
											<img src="/spiceTheme/assets/img/user/user8.jpg" class="img-circle" alt="">
										</span>
										<span class="subject">
											<span class="from"> لينا سميث </span>
											<span class="time">40 دقيقة </span>
										</span>
										<span class="message"> تقدم بطلب لجراح تقويم العظام </span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="photo">
											<img src="/spiceTheme/assets/img/user/user5.jpg" class="img-circle" alt="">
										</span>
										<span class="subject">
											<span class="from"> جاكوب ريان </span>
											<span class="time">46 دقيقة </span>
										</span>
										<span class="message"> طلب الحصول على إجازة. </span>
									</a>
								</li>
							</ul>
							<div class="dropdown-menu-footer">
								<a href="#"> جميع الرسائل </a>
							</div>
						</li>
					</ul>
				</li>
				<!-- end message dropdown -->
				<!-- start manage user dropdown -->
				<li class="dropdown dropdown-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
						data-close-others="true">
						<img alt="" class="img-circle " src="/spiceTheme/assets/img/dp.jpg" />
						<span class="username username-hide-on-mobile"> يوحنا </span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-default animated jello">
						<li>
							<a href="user_profile.html">
								<i class="icon-user"></i> حساب تعريفي </a>
						</li>
						<li>
							<a href="#">
								<i class="icon-settings"></i> إعدادات
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon-directions"></i> مساعدة
							</a>
						</li>
						<li class="divider"> </li>
						<li>
							<a href="lock_screen.html">
								<i class="icon-lock"></i> قفل
							</a>
						</li>
						<li>
							<a href="login.html">
								<i class="icon-logout"></i> تسجيل خروج </a>
						</li>
					</ul>
				</li>
				<!-- end manage user dropdown -->
					 
			</ul>
		</div>
	</div>
</div>
<!-- end header -->