<!-- start chat sidebar -->
	<div class="chat-sidebar-container" data-close-on-body-click="false">
		<div class="chat-sidebar">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a href="#quick_sidebar_tab_1" class="nav-link active tab-icon" data-toggle="tab">سمة
					</a>
				</li>
				<li class="nav-item">
					<a href="#quick_sidebar_tab_2" class="nav-link tab-icon" data-toggle="tab"> دردشة
					</a>
				</li>
				<li class="nav-item">
					<a href="#quick_sidebar_tab_3" class="nav-link tab-icon" data-toggle="tab"> إعدادات
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane chat-sidebar-settings in show active animated shake" role="tabpanel"
					id="quick_sidebar_tab_1">
					<div class="slimscroll-style">
						<div class="theme-light-dark">
							<h6>موضوع الشريط الجانبي</h6>
							<button type="button" data-theme="white"
								class="btn lightColor btn-outline btn-circle m-b-10 theme-button">الشريط الجانبي الخفيف</button>
							<button type="button" data-theme="dark"
								class="btn dark btn-outline btn-circle m-b-10 theme-button">الشريط الجانبي المظلم</button>
						</div>
						<div class="theme-light-dark">
							<h6>لون الشريط الجانبي</h6>
							<ul class="list-unstyled">
								<li class="complete">
									<div class="theme-color sidebar-theme">
										<a href="#" data-theme="white"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="dark"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="blue"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="indigo"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="cyan"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="green"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="red"><span class="head"></span><span
												class="cont"></span></a>
									</div>
								</li>
							</ul>
							<h6>لون رأس العلامة التجارية</h6>
							<ul class="list-unstyled">
								<li class="theme-option">
									<div class="theme-color logo-theme">
										<a href="#" data-theme="logo-white"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="logo-dark"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="logo-blue"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="logo-indigo"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="logo-cyan"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="logo-green"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="logo-red"><span class="head"></span><span
												class="cont"></span></a>
									</div>
								</li>
							</ul>
							<h6>لون الرأس</h6>
							<ul class="list-unstyled">
								<li class="theme-option">
									<div class="theme-color header-theme">
										<a href="#" data-theme="header-white"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="header-dark"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="header-blue"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="header-indigo"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="header-cyan"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="header-green"><span class="head"></span><span
												class="cont"></span></a>
										<a href="#" data-theme="header-red"><span class="head"></span><span
												class="cont"></span></a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Start Doctor Chat -->
				<div class="tab-pane chat-sidebar-chat animated slideInRight" id="quick_sidebar_tab_2">
					<div class="chat-sidebar-list">
						<div class="chat-sidebar-chat-users slimscroll-style" data-rail-color="#ddd"
							data-wrapper-class="chat-sidebar-list">
							<div class="chat-header">
								<h5 class="list-heading">متصل</h5>
							</div>
							<ul class="media-list list-items">
								<li class="media"><img class="media-object" src="/spiceTheme/assets/img/user/user3.jpg"
										width="35" height="35" alt="...">
									<i class="online dot"></i>
									<div class="media-body">
										<h5 class="media-heading">جون ديو</h5>
										<div class="media-heading-sub">جراح العمود الفقري</div>
									</div>
								</li>
								<li class="media">
									<div class="media-status">
										<span class="badge badge-success">5</span>
									</div> <img class="media-object" src="/spiceTheme/assets/img/user/user1.jpg" width="35"
										height="35" alt="...">
									<i class="busy dot"></i>
									<div class="media-body">
										<h5 class="media-heading">راجيش</h5>
										<div class="media-heading-sub">راجيش</div>
									</div>
								</li>
								<li class="media"><img class="media-object" src="/spiceTheme/assets/img/user/user5.jpg"
										width="35" height="35" alt="...">
									<i class="away dot"></i>
									<div class="media-body">
										<h5 class="media-heading">جاكوب ريان</h5>
										<div class="media-heading-sub">جراح العظام</div>
									</div>
								</li>
								<li class="media">
									<div class="media-status">
										<span class="badge badge-danger">8</span>
									</div> <img class="media-object" src="/spiceTheme/assets/img/user/user4.jpg" width="35"
										height="35" alt="...">
									<i class="online dot"></i>
									<div class="media-body">
										<h5 class="media-heading">كهن أندرسون</h5>
										<div class="media-heading-sub">المدير التنفيذي</div>
									</div>
								</li>
								<li class="media"><img class="media-object" src="/spiceTheme/assets/img/user/user2.jpg"
										width="35" height="35" alt="...">
									<i class="busy dot"></i>
									<div class="media-body">
										<h5 class="media-heading">سارة سميث</h5>
										<div class="media-heading-sub">عقاقير مخدرة</div>
									</div>
								</li>
								<li class="media"><img class="media-object" src="/spiceTheme/assets/img/user/user7.jpg"
										width="35" height="35" alt="...">
									<i class="online dot"></i>
									<div class="media-body">
										<h5 class="media-heading">فلاد كارديلا</h5>
										<div class="media-heading-sub">طبيب قلب</div>
									</div>
								</li>
							</ul>
							<div class="chat-header">
								<h5 class="list-heading">طبيب قلب</h5>
							</div>
							<ul class="media-list list-items">
								<li class="media">
									<div class="media-status">
										<span class="badge badge-warning">4</span>
									</div> <img class="media-object" src="/spiceTheme/assets/img/user/user6.jpg" width="35"
										height="35" alt="...">
									<i class="offline dot"></i>
									<div class="media-body">
										<h5 class="media-heading">جينيفر ماكلين</h5>
										<div class="media-heading-sub">ممرضة</div>
										<div class="media-heading-small">آخر ظهور 01:20 AM</div>
									</div>
								</li>
								<li class="media"><img class="media-object" src="/spiceTheme/assets/img/user/user8.jpg"
										width="35" height="35" alt="...">
									<i class="offline dot"></i>
									<div class="media-body">
										<h5 class="media-heading">لينا سميث</h5>
										<div class="media-heading-sub">جراح العظام</div>
										<div class="media-heading-small">آخر ظهور 11:14 PM</div>
									</div>
								</li>
								<li class="media">
									<div class="media-status">
										<span class="badge badge-success">9</span>
									</div> <img class="media-object" src="/spiceTheme/assets/img/user/user9.jpg" width="35"
										height="35" alt="...">
									<i class="offline dot"></i>
									<div class="media-body">
										<h5 class="media-heading">جيف آدم</h5>
										<div class="media-heading-sub">مركب</div>
										<div class="media-heading-small">آخر ظهور 3:31 مساءً</div>
									</div>
								</li>
								<li class="media"><img class="media-object" src="/spiceTheme/assets/img/user/user10.jpg"
										width="35" height="35" alt="...">
									<i class="offline dot"></i>
									<div class="media-body">
										<h5 class="media-heading">أنجلينا كارديلا</h5>
										<div class="media-heading-sub">اخصائي العلاج الطبيعي</div>
										<div class="media-heading-small">آخر ظهور 7:45 مساءً</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- End Doctor Chat -->
				<!-- Start Setting Panel -->
				<div class="tab-pane chat-sidebar-settings animated slideInUp" id="quick_sidebar_tab_3">
					<div class="chat-sidebar-settings-list slimscroll-style">
						<div class="chat-header">
							<h5 class="list-heading">إعدادات الشكل الظاهري</h5>
						</div>
						<div class="chatpane inner-content ">
							<div class="settings-list">
								<div class="setting-item">
									<div class="setting-text">إعدادات الشكل الظاهري</div>
									<div class="setting-set">
										<select
											class="sidebar-pos-option form-control input-inline input-sm input-small ">
											<option value="left" selected="selected">غادر</option>
											<option value="right">حق</option>
										</select>
									</div>
								</div>
								<div class="setting-item">
									<div class="setting-text">رأس</div>
									<div class="setting-set">
										<select
											class="page-header-option form-control input-inline input-sm input-small ">
											<option value="fixed" selected="selected">مثبت</option>
											<option value="default">تقصير</option>
										</select>
									</div>
								</div>
								<div class="setting-item">
									<div class="setting-text">قائمة الشريط الجانبي </div>
									<div class="setting-set">
										<select
											class="sidebar-menu-option form-control input-inline input-sm input-small ">
											<option value="accordion" selected="selected">الأكورديون</option>
											<option value="hover">يحوم</option>
										</select>
									</div>
								</div>
								<div class="setting-item">
									<div class="setting-text">Footer</div>
									<div class="setting-set">
										<select
											class="page-footer-option form-control input-inline input-sm input-small ">
											<option value="fixed">مثبت</option>
											<option value="default" selected="selected">تقصير</option>
										</select>
									</div>
								</div>
							</div>
							<div class="chat-header">
								<h5 class="list-heading">إعدادت الحساب</h5>
							</div>
							<div class="settings-list">
								<div class="setting-item">
									<div class="setting-text">إشعارات</div>
									<div class="setting-set">
										<div class="switch">
											<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
												for="switch-1">
												<input type="checkbox" id="switch-1" class="mdl-switch__input"
													checked>
											</label>
										</div>
									</div>
								</div>
								<div class="setting-item">
									<div class="setting-text">إظهار على الإنترنت</div>
									<div class="setting-set">
										<div class="switch">
											<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
												for="switch-7">
												<input type="checkbox" id="switch-7" class="mdl-switch__input"
													checked>
											</label>
										</div>
									</div>
								</div>
								<div class="setting-item">
									<div class="setting-text">حالة</div>
									<div class="setting-set">
										<div class="switch">
											<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
												for="switch-2">
												<input type="checkbox" id="switch-2" class="mdl-switch__input"
													checked>
											</label>
										</div>
									</div>
								</div>
								<div class="setting-item">
									<div class="setting-text">التحقق بخطوتين</div>
									<div class="setting-set">
										<div class="switch">
											<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
												for="switch-3">
												<input type="checkbox" id="switch-3" class="mdl-switch__input"
													checked>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="chat-header">
								<h5 class="list-heading">الاعدادات العامة</h5>
							</div>
							<div class="settings-list">
								<div class="setting-item">
									<div class="setting-text">موقع</div>
									<div class="setting-set">
										<div class="switch">
											<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
												for="switch-4">
												<input type="checkbox" id="switch-4" class="mdl-switch__input"
													checked>
											</label>
										</div>
									</div>
								</div>
								<div class="setting-item">
									<div class="setting-text">حفظ التاريخ</div>
									<div class="setting-set">
										<div class="switch">
											<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
												for="switch-5">
												<input type="checkbox" id="switch-5" class="mdl-switch__input"
													checked>
											</label>
										</div>
									</div>
								</div>
								<div class="setting-item">
									<div class="setting-text">التحديثات التلقائية</div>
									<div class="setting-set">
										<div class="switch">
											<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
												for="switch-6">
												<input type="checkbox" id="switch-6" class="mdl-switch__input"
													checked>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end chat sidebar -->