@import url("https://fonts.googleapis.com/css?family=Roboto");



.buttoncontainer {
    float: right;
    position: sticky;
    z-index: 5;
    bottom: 25%;
    width: 20%;
}

#toggle {
    display: none;
    -webkit-appearance: none;
}

.floatingbutton {
    position: absolute;
    z-index: 999;
    width: 63px;
    height: 63px;
    background: #3f3d3d;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -80px;
    right: 0px;
    box-shadow: 0px 1px 10px 0px;
}

    .floatingbutton:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background: #fff;
        transform: rotate(90deg);
        transition: all 0.4s ease;
    }

    .floatingbutton:after {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background: #fff;
        transition: all 0.4s ease;
    }

.nav {
    display: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    width: 100%;
    border-radius: 5px;
    transform: translateY(0%);
    box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
    padding: 10px;
}

    .nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .nav a {
        text-align: center;
        margin: 20px 0;
        color: #8974FB;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
    }

        .nav a:hover {
            color: #C784DD;
        }

#toggle:checked ~ .nav {
    display: block;
    opacity: 1;
    margin-bottom: -15px;
}

#toggle:checked ~ .floatingbutton:before {
    transform: rotate(225deg);
}

#toggle:checked ~ .floatingbutton:after {
    transform: rotate(135deg);
}

@media (max-width: 640px) {
    .container {
        width: 100%;
    }
}
